In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
import pandas as pd
import math
import numpy as np

Get sorted cases id

In [3]:
import wget
import os.path

In [4]:
df_final = pd.read_csv('Helpdesk2017_anonimyzed.csv')

In [5]:
df_final.columns

Index(['Case ID', 'Activity', 'Complete Timestamp', 'Resource'], dtype='object')

In [6]:
sorted_time_cases = df_final.sort_values('Complete Timestamp')['Case ID'].drop_duplicates().values

In [7]:
df_final.shape

(21348, 4)

In [8]:
df_final.columns

Index(['Case ID', 'Activity', 'Complete Timestamp', 'Resource'], dtype='object')

In [9]:
df_final['Activity'].unique()

array(['Assign seriousness', 'Take in charge ticket', 'Resolve ticket',
       'Closed', 'Insert ticket', 'Wait', 'Create SW anomaly',
       'Require upgrade', 'VERIFIED', 'DUPLICATE', 'Resolve SW anomaly',
       'Schedule intervention', 'RESOLVED', 'INVALID'], dtype=object)

Filter for `Closed` process

In [10]:
just_closed = True

if(just_closed):
    closed_cases = []

    for name, group in df_final.groupby('Case ID'):
        last_step = group.tail(1)['Activity'].values[0]
        if(last_step == 'Closed'):
            closed_cases.append(group['Case ID'].values[0])

    df_final = df_final[df_final['Case ID'].isin(closed_cases)]

Example:

In [11]:
df_final[['Case ID', 'Activity', 'Complete Timestamp']].head(9)

   Case ID               Activity   Complete Timestamp
0        0     Assign seriousness  2012-10-09 14:50:17
1        0  Take in charge ticket  2012-10-09 14:51:01
2        0  Take in charge ticket  2012-10-12 15:02:56
3        0         Resolve ticket  2012-10-25 11:54:26
4        0                 Closed  2012-11-09 12:54:39
5     1111     Assign seriousness  2012-04-03 08:55:38
6     1111  Take in charge ticket  2012-04-03 08:55:53
7     1111         Resolve ticket  2012-04-05 09:15:52
8     1111                 Closed  2012-05-19 09:00:28

Spliting data (train, test, validation)

In [12]:
from sklearn.model_selection import train_test_split

train_cases, test_cases  = train_test_split(sorted_time_cases, test_size=0.4, 
                                            shuffle=False, 
                                            random_state=42
                                           )

test_cases, val_cases  = train_test_split(test_cases, test_size=0.5, 
                                            shuffle=False, 
                                            random_state=42
                                           )

In [13]:
len(train_cases), len(test_cases), len(val_cases)

(2748, 916, 916)

Dataframes creation

In [14]:
df_train = df_final[df_final['Case ID'].isin(train_cases)]
df_test = df_final[df_final['Case ID'].isin(test_cases)]
df_val = df_final[df_final['Case ID'].isin(val_cases)]

Overriding cases checking

In [15]:
print(
    set(test_cases).intersection(set(train_cases)),
    set(test_cases).intersection(set(val_cases)),
    set(train_cases).intersection(set(val_cases))
)

set() set() set()

In [16]:
df_sorted = pd.concat([df_train, df_val, df_test])

In [17]:
df_sorted.to_csv('Helpdesk2017_sorted.csv')

Statistical analisys