In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
import pandas as pd
import math
import numpy as np

Get sorted cases id

In [3]:
import wget
import os.path

In [4]:
df_final = pd.read_csv('helpdesk_sorted_original.csv')

In [5]:
df_final.columns

Index(['CaseID', 'Activity', 'CompleteTimestamp'], dtype='object')

In [ ]:
df_final['Activity'].astype("category")

In [6]:
df_final.head()

   CaseID               Activity    CompleteTimestamp
0    2222     Assign seriousness  2010-10-29 10:14:06
1    2222  Take in charge ticket  2010-11-03 16:16:11
2    2222         Resolve ticket  2010-11-03 16:21:17
3    2222                 Closed  2010-11-30 11:20:18
4    3333     Assign seriousness  2010-12-15 14:31:53

In [7]:
sorted_time_cases = df_final.sort_values('CompleteTimestamp')['CaseID'].drop_duplicates().values

In [8]:
df_final.shape

(21232, 3)

In [34]:
df_final.columns

Index(['CaseID', 'ActivityID', 'CompleteTimestamp'], dtype='object')

In [35]:
df_final['ActivityID'].unique()

array([1, 8, 6, 3, 9, 2, 4, 5, 7])

Example:

In [36]:
df_final[['CaseID', 'ActivityID', 'CompleteTimestamp']].head(9)

   CaseID  ActivityID    CompleteTimestamp
0       2           1  2012-04-03 16:55:38
1       2           8  2012-04-03 16:55:53
2       2           6  2012-04-05 17:15:52
3       3           1  2010-10-29 18:14:06
4       3           8  2010-11-04 01:16:11
5       3           6  2010-11-04 01:21:17
6       4           1  2010-12-15 23:31:53
7       4           8  2010-12-16 17:01:07
8       4           6  2010-12-16 17:08:19

In [37]:
number_cases = len(df_final['CaseID'].unique())

In [38]:
number_cases

3804

Spliting data (train, test, validation)

In [39]:
from sklearn.model_selection import train_test_split

train_cases, test_cases  = train_test_split(sorted_time_cases, test_size=0.4, 
                                            shuffle=False, 
                                            random_state=42
                                           )

test_cases, val_cases  = train_test_split(test_cases, test_size=0.5, 
                                            shuffle=False, 
                                            random_state=42
                                           )

In [40]:
len(train_cases), len(test_cases), len(val_cases)

(2282, 761, 761)

In [41]:
len(train_cases) / number_cases

0.599894847528917

Dataframes creation

In [42]:
df_train = df_final[df_final['CaseID'].isin(train_cases)].reset_index().drop(['index'], axis=1)
df_test = df_final[df_final['CaseID'].isin(test_cases)].reset_index().drop(['index'], axis=1)
df_val = df_final[df_final['CaseID'].isin(val_cases)].reset_index().drop(['index'], axis=1)

In [43]:
df_train.shape

(8749, 3)

Overriding cases checking

In [44]:
print(
    set(test_cases).intersection(set(train_cases)),
    set(test_cases).intersection(set(val_cases)),
    set(train_cases).intersection(set(val_cases))
)

set() set() set()

In [45]:
df_sorted = pd.concat([df_train, df_val, df_test])

In [46]:
df_sorted.head()

   CaseID  ActivityID    CompleteTimestamp
0       3           1  2010-10-29 18:14:06
1       3           8  2010-11-04 01:16:11
2       3           6  2010-11-04 01:21:17
3       4           1  2010-12-15 23:31:53
4       4           8  2010-12-16 17:01:07

In [47]:
df_sorted.to_csv('helpdesk_sorted.csv', index=False)

Statistical analisys