In [9]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
import os
import pandas as pd
import math
import numpy as np

Get sorted cases id

In [11]:
import wget
import os.path

In [12]:
df_final = pd.read_csv('helpdesk_sorted_original.csv')

In [13]:
df_final.columns

Index(['CaseID', 'ActivityID', 'CompleteTimestamp'], dtype='object')

In [17]:
df_final['ActivityID'] = df_final['ActivityID'].astype("category").cat.codes

In [18]:
df_final.head()

   CaseID  ActivityID    CompleteTimestamp
0    2222           0  2010-10-29 10:14:06
1    2222          11  2010-11-03 16:16:11
2    2222           9  2010-11-03 16:21:17
3    2222           1  2010-11-30 11:20:18
4    3333           0  2010-12-15 14:31:53

In [19]:
sorted_time_cases = df_final.sort_values('CompleteTimestamp')['CaseID'].drop_duplicates().values

In [20]:
df_final.shape

(21232, 3)

In [21]:
df_final.columns

Index(['CaseID', 'ActivityID', 'CompleteTimestamp'], dtype='object')

In [22]:
df_final['ActivityID'].unique()

array([ 0, 11,  9,  1,  5, 13,  2,  8, 10,  7, 12,  3,  6,  4], dtype=int8)

Example:

In [23]:
df_final[['CaseID', 'ActivityID', 'CompleteTimestamp']].head(9)

   CaseID  ActivityID    CompleteTimestamp
0    2222           0  2010-10-29 10:14:06
1    2222          11  2010-11-03 16:16:11
2    2222           9  2010-11-03 16:21:17
3    2222           1  2010-11-30 11:20:18
4    3333           0  2010-12-15 14:31:53
5    3333          11  2010-12-16 08:01:07
6    3333           9  2010-12-16 08:08:19
7    3333           1  2011-02-12 14:40:42
8    4136           0  2011-10-25 15:13:58

In [24]:
number_cases = len(df_final['CaseID'].unique())

In [25]:
number_cases

4557

Spliting data (train, test, validation)

In [26]:
from sklearn.model_selection import train_test_split

train_cases, test_cases  = train_test_split(sorted_time_cases, test_size=0.4, 
                                            shuffle=False, 
                                            random_state=42
                                           )

test_cases, val_cases  = train_test_split(test_cases, test_size=0.5, 
                                            shuffle=False, 
                                            random_state=42
                                           )

In [27]:
len(train_cases), len(test_cases), len(val_cases)

(2734, 911, 912)

In [28]:
len(train_cases) / number_cases

0.5999561114768488

Dataframes creation

In [29]:
df_train = df_final[df_final['CaseID'].isin(train_cases)].reset_index().drop(['index'], axis=1)
df_test = df_final[df_final['CaseID'].isin(test_cases)].reset_index().drop(['index'], axis=1)
df_val = df_final[df_final['CaseID'].isin(val_cases)].reset_index().drop(['index'], axis=1)

In [30]:
df_train.shape

(12946, 3)

Overriding cases checking

In [31]:
print(
    set(test_cases).intersection(set(train_cases)),
    set(test_cases).intersection(set(val_cases)),
    set(train_cases).intersection(set(val_cases))
)

set() set() set()

In [32]:
df_sorted = pd.concat([df_train, df_val, df_test])

In [33]:
df_sorted.head()

   CaseID  ActivityID    CompleteTimestamp
0    2222           0  2010-10-29 10:14:06
1    2222          11  2010-11-03 16:16:11
2    2222           9  2010-11-03 16:21:17
3    2222           1  2010-11-30 11:20:18
4    3333           0  2010-12-15 14:31:53

In [35]:
df_sorted.to_csv('helpdesk_sorted.csv', index=False)

Statistical analisys